.offline-status {
  background: $red-warning;
  color: $white;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 10px 0 50px;

  .offline-status__message {
    padding: 10px;
  }
}

@include mobile-device {
  .offline-status {
    margin-top: 55px;
  }
}